@import 'tailwindcss';
@import 'flowbite/src/themes/default' @plugin 'flowbite/plugin' @source
    '../../node_modules/flowbite': root {
    --background-rgb: var(--color-gray-50);
    --foreground-rgb: var(--color-black);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-rgb: var(--color-gray-900);
        --foreground-rgb: var(--color-white);
    }
}

body {
    background: var(--background-rgb);
    color: var(--foreground-rgb);
}
